@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: sans-serif;
}

/* fontAwesomeアイコン */
.far.fa-trash-alt {
  color : deeppink;
}

.far.fa-trash-alt:hover {
  color : gray;
}

.far.fa-edit {
  color : #007FFF;
}

.far.fa-edit:hover {
  color : gray;
}

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
.container {
  min-height: 90%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -0px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}